// body, html {font-family: 'europa', sans-serif;}
@font-face {
  font-family: "BigNoodleTitling";
  src: url("fonts/big_noodle_titling_oblique.ttf");
}

@font-face {
  font-family: 'Heebo';
  src: url("https://fonts.googleapis.com/css?family=Heebo:300");
}

h1, h2, h3, h4, h5, p, ul, li {font-family: "Heebo", sans-serif}

.text-center {text-align: center !important}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.narrow {
  max-width: 1200px;
  margin: 0 auto;
}

.rounded {border-radius: 50%}

.border-radius {
  display: block;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.absolute {position: absolute}

.white-text {color: white}

.gold-text {color: $gold}

.dark-text {color: #4d4e4f}

.gold-bg {background-color: $gold}

.text-shadow {text-shadow: #343a40 1px 1px;}

.title-lg, .subtitle, .title-sm, .text, .title-md {
  word-break: break-word;
  margin-bottom: 1.5rem;
}

.title-lg, .subtitle {
  font-family: "heebo", sans-serif !important;
  
}

.title-lg {
  font-weight: 800;
  line-height: 1.125;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.title-sm, .title-md {
  font-weight: 800;
  line-height: 1.125;
}

.title-sm {
  font-size: 1.25rem;
}

.title-md {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
}

.skills, .projects {
  padding: 5rem 1.5rem 5rem 1rem;
  color: #4d4e4f !important;
}

.gap {
  margin-bottom: 3rem !important;
}
