.footer {
  padding: 0rem 1.5rem 4rem;
}

.social-icon {
  width: 55px;
}

.social-icon-container {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  color: $gold;
  fill: currentColor;
}

.social-link {
  padding: 0.5rem;
}

.icons {
  margin: 3rem auto 3rem;
}
